*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: url('ressources/');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #1231e4;
    font-family: Abril fatface, sans-serif;
}
h1 span {
    position: relative;
}
.container-btns {
    position: relative;
    top: 50px;
}
.btn-first {
    border: 2px solid #2a86ee;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #2a86ee;
    cursor: pointer;
}
.btn-first:nth-child(1){
    margin-right: 30px;
}
.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #2a86ee;
    color: rgb(13, 39, 110);
}
.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}
.l1 {
    width: 250px;
    height: 3px;
    background: #2a86ee;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #2a86ee;
    border-radius: 5px;
    position: relative;
    top: 20px;
}


.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 40px;
    height: 40px;
}